<!DOCTYPE html>
<ul xmlns="http://www.w3.org/1999/xhtml"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    xmlns:py="http://genshi.edgewall.org/"
    py:if="comments" class="comments">
  <li py:for="comment in comments">
    <strong>${comment.username}</strong>
    at ${comment.time.strftime('%M/%d/%Y %H:%m')}
    <blockquote>${comment.content}</blockquote>
    <a href="${url('/reply/%s/' % comment.code)}">reply</a>
    <xi:include href="comments.html" py:with="comments=comment.replies" />
  </li>
</ul>
