<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" />
  <head>
    <title>${link.title}</title>
  </head>
  <body>
    <h1>${link.title}</h1>
    <a href="${link.url}">${link.url}</a><br />
    posted by ${link.username} at ${link.time.strftime('%m/%d/%Y %H:%M')}<br />
    <a href="${url('/comment/%s/' % link.id)}">comment</a>
    <ul py:if="link.comments" class="comments">
      <li py:for="comment in link.comments">
        <strong>${comment.username}</strong>
        at ${comment.time.strftime('%m/%d/%Y %H:%M')}
        <blockquote>${comment.content}</blockquote>
      </li>
    </ul>
  </body>
</html>
