<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://markup.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html"><xi:fallback/></xi:include>
  <head>
    <title>Attachments to ${parent_id}</title>
  </head>

  <body>
    <div id="ctxtnav" class="nav"></div>

    <div id="content" class="attachment">
      <h1>Attachments to <a href="${parent_href}">${parent_id}</a></h1>
      <div id="attachments">
        <dl class="attachments" py:if="attachments">
          <div py:for="attachment in attachments" py:strip="">
            <dt>
              <a href="${attachment.href(req)}" title="View attachment"
                 py:content="attachment.filename"/>
              (${attachment.size}) – added by <em>${attachment.author}</em>
              on ${attachment.time}
            </dt>
            <dd py:if="attachment.description">
              ${attachment.description}
            </dd>
          </div>
        </dl>
      </div>
      <form method="get" action="${attach_href}"><div>
        <input type="hidden" name="action" value="new" />
        <input type="submit" value="Attach File" />
      </div></form>
    </div>

  </body>
</html>
